body{
    background-color: #ededed;
}
.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 55px;
    height: 55px;
}

.test_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}